*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    display: flex;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 6%;
}

.navbar{
    display: flex;
    
}

.navlinks{
    margin-right: 10%;
}